body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom-style: none;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.description{
  color:#EAF6F6;
  font-size: 0.75rem
  padding: 20px 0;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 150px;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.circular {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.p {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  left: 1000px;
  bottom: 650px;
}

.bottom-cloud {
  position: absolute;
  bottom: 310px;
  left: 400px;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto;
  text-align: left;
  line-height: 2;
}

.skills {
  padding-bottom: 5px;
}

.skill {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.tt {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.food-img {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.contact-me {
  padding-bottom: 60px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
  -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e));
  background: -moz-linear-gradient(center top, #11cdd4 5%, #11999e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11999e');
  background-color: #33bdef;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  border: 1px solid #057fd0;
  display: inline-block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 45px;
  line-height: 45px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px -1px 0px #5b6178;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #30e3cb), color-stop(1, #2bc4ad));
  background: -moz-linear-gradient(center top, #30e3cb 5%, #2bc4ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30e3cb', endColorstr='#2bc4ad');
  background-color: #019ad2;
}

.classname:active {
  position: relative;
  top: 1px;
}
